/*! Responsive Grid Styles */
html, body {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 4em;
	font-weight: lighter;
	margin: 0;
}
h3 {
	font-size: 3em;
	color: #474747;
	margin: 0;
}
h6 {
	color: #ff8a00;
	font-size: 1.2em;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}
p {
	font-size: 1.5em;
}
p span {
	color: #5e35b1;
}
hr {
	width: 15%;
	margin-top: 2em;
	margin-bottom: 2em;
}

/*! Fixes */
.row {
	display: flex;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: none;
	display: flex;
}

/*! Columns */
.c-8 {
	width: 66.66%;
	float: left;
}
.c-6 {
	width: 50%;
	float: left;
}
.c-4 {
	width: 25%;
	float: left;
}
.c-3 {
	width: 33.3%;
	float: left;
}

/*! Styles */
nav {
	display: block;
	float: right;
}
ul {
	padding: 2em;
}
li {
	color: #fff;
	display: inline-block;
	list-style: none;
	padding: 0 2em;
}
li a {
	color: #fff;
	text-decoration: none;
}
header {
	color: #fff;
	background: #ff8a00;
	padding: 10em 4em;
}
.brand {
	float: left;
}
.nice-box {
	background: #eee;
	border: 1px solid #fff;
	text-align: center;
	padding: 8em;
}
.bright {
	color: #ff8a00;
	font-size: 3em;
	padding: 2em;
	font-weight: lighter;
}
.subtle {
	color: #898989;
	font-size: 2em;
	padding: 4em;
	font-weight: lighter;
	border: solid 1px #e1e1e1;
}
.back {
	background-image: url('');
	min-height: 428 px;
}
.inner {
	padding: 6em;
}
footer {
	border: 1px grey;
	position: relative;
	color: #fff;
	background: #474747;
}

/*! Buttons */
.cta {
	font-size: 1.2em;
	color: #ff8a00;
	background: transparent;
	border: 1px solid #ff8a00;
	margin: 1em 0em;
	padding: 1em 2em;
}
.cta:hover {
	color: #fff;
	background: #ff8a00;
}

/*! Responsive */
@media (max-width:1200px) {
	[class*='c-'] {
		width: 100%;
	}
	.row {
		display: block;
	}
@media (max-width:800px) {
	h1 {
		font-size: 2em;
	}
	.bright, .subtle {
		font-size: 1em;
	}
	li {
		padding: 0 1em;
	}
}
